<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JavaScript2 Lesson5</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="chat.css">
</head>
<body>
<div id="app">
    <header class="header">
        <form action="#" class="search-form">
            <input type="text" class="good-search" v-model="searchLine"/>
            <button class="search-button" @click="searchBtnClick">Искать</button>
        </form>
        <button class="cart-button" @click="showCart">Корзина</button>
    </header>
    <main>
            <div class="goods-list" v-if="goods.length">
                <div class="goods-item" v-for="good in filteredGoods" :key="good.id_product">
                    <img :src="goodPicture" alt="img" class="goods-img">
                    <h3 class="title goods-title">{{good.product_name}}</h3>
                    <p>{{good.price}} ₽</p>
                    <button class="goods-btn" @click="putGoodToCart(good.id_product)">В корзину</button>
                </div>
            </div>
            <div class="goods-list" v-else>Нет данных</div>
        <div class="cart-bck" v-if="isCartVisible">
            <div class="cart">
                <a href="#" @click="hideCart"><div class="cart-close">&#10052;</div></a>
                <div class="cart-inner">
                    <div class="cart-good">
                        <div class="cart-img-title"></div>
                        <div class="cart-name bold">Наименование</div>
                        <div class="cart-price bold">Цена</div>
                        <div class="cart-count bold">Количество</div>
                        <div></div>
                    </div>
                    <div class="cart-good" v-for="cartgood in cartGoods" :key="cartgood.id_product">
                        <img :src="goodPicture" alt="img" class="cart-img">
                        <div class="cart-name">{{cartgood.product_name}}</div>
                        <div class="cart-price">{{cartgood.price}} ₽</div>
                        <div class="cart-count">{{cartgood.count}}</div>
                        <button class="inc-good" @click="incrementCartGood(cartgood.id_product)">+</button>
                        <button class="dec-good" @click="decrementCartGood(cartgood.id_product)">-</button>
                    </div>
                    <div class="cart-sum bold">ИТОГО: {{cartSumm}} ₽</div>
                </div>
            </div>
        </div>
        <div class="chat-closed" @click="openChat">Чат</div>
        <div class="chat" v-if="isChatVisible">
            <a href="#" @click="closeChat"><div class="chat-close">&#10052;</div></a>
            <div class="chat-header">
                <div class="consultant-photo"></div>
                <h3 class="consultant-name">{{consultantName}}</h3>
                <p class="consultant-p">Консультант</p>
            </div>
            <div class="chat-messages" v-for="chatMsg in chatMessages">
                <div class="msg-block">
                    <div>{{chatMsg.text}}</div>

                </div>
            </div>
            <div class="user-message">
                <textarea class="user-msg" placeholder="Введите сообщение и нажмите Enter"></textarea>
                <button class="smiles-btn"></button>
                <button class="attachfile-btn"></button>
            </div>
        </div>
    </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="main.js"></script>
</body>
</html>